body {/*edita el cuerpo de el html*/ /**/
    background: rgb(3, 88, 21);/*color de fondo*/

}
.examen{
    font-size: 15px;/*establece el tamaño de las letras*/
    font-family: 'Times New Roman', Times, serif;/*estabelece el tipo de letra*/
    background-color: rgb(221, 252, 228);/*color de fondo*/
    width: 50%;/*especifica la anchura del area de contenido de un elemento*/
    border: 4px solid black;/*poner borde y color a elemento */
    padding: 35px 40px 25px;/*establece el area de relleno*/
    position: absolute;/*centrar el elemento*/
    top:90px;/*distancia de el tope superior de la pantalla*/
    left: 260px;/*distancia que se aleja a la izquierda de la pantalla*/
    border-radius: 50px 1px;/*poner borde redondeado a elemento*/
    box-shadow: 10px 20px #467692;/*pone sombreado*/
}
.encabezado{
    font-family: Arial, Helvetica, sans-serif;/*estabelece el tipo de letra*/
    font-size: 30px;/*establece el tamaño de las letras*/
    background-color:black;/*color de fondo*/
    color:green;/*color de letra*/
    text-align: center;/*centra el texto*/
    width: 100%;/*especifica la anchura del area de contenido de un elemento*/
    padding: 35px 30px 25px;/*establece el area de relleno*/
    position: absolute;/*centrar el elemento*/
}

.t_1,.t_2,.t_3,.t_4,.t_5,.t_6,.t_7,.t_8,.t_9{
    text-align: center;/*centra el texto*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*estabelece el tipo de letra*/
    font-size: 18px;/*establece el tamaño de las letras*/
    color: rgb(192, 23, 192);/*color de letra*/

}
