/* Agregando imagen y color */
body{
	background-image:url('imagen1.jpg');
    background-color: transparent;
}
/* posicionando  titulos*/
div{
	margin: center;
	background-position: center; 
    text-align: center;   
}

h1{
	
	background-position: center;
    text-align: center;
}
h2{
	
	background-position: center;
	text-align: center;
}
h3{	
	background-position: center, left;
	text-align: center; 
}